@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500&family=Playfair+Display:ital,wght@0,400;0,600;1,400&display=swap');
@tailwind base; @tailwind components; @tailwind utilities;
body { 
    background-color: #ffffff; 
    color: #09090b; 
}
